.galeria {
}

.galeria .kep {
}

.galeria img {
  height: 100px;
  width: auto;
}

.nagykep div {
}

.nagykep {
  border: 1px solid gray;
  border-radius: 10px;
}

.nagykep img {
  height: 200px;
  width: auto;
}
